.article-card {
  background-color: #d3dfde;
  width: 30rem;
  height: 16.5rem;
  color: aliceblue;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

h3,
.content {
  color: #2c3e50;
}

h3 {
  margin: 0;
}

.content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow-y: auto;
  text-align: left;
  background-color: #f1faee;
  border-radius: 7px;
  min-height: 4.5rem;
  padding: 1rem;
  flex: 1
}

.muted {
  color: rgb(110, 108, 108);
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.article-card:hover {
  transform: translateY(3);
}

.redirectBtn {
  background-color: #598392;
  color: #f1faee;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 15rem;
}

.deleteBtn {
  background-color: #598392;
  color: #f1faee;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 7rem;
}

.modifyBtn {
  background-color: #598392;
  color: #f1faee;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 7rem;
}

.redirectBtn:hover {
  background-color: #517380;
  border-color: #517380;
}

.modifyBtn:hover {
  background-color: #517380;
  border-color: #517380;
}

.deleteBtn:hover {
  background-color: #517380;
  border-color: #517380;
}

.btn-group {
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
}

.btnSave {
  background-color: #598392;
  color: #f1faee;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btnSave:hover {
  background-color: #517380;
}
